.App {
  text-align: center;
  display: flex;
  background-color: #282c34;
  min-height: 150px;
  min-width: 150px;
  padding: 30px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.media {
  display: flex;
  justify-content: space-between;
}
.searchResult {
  display: flex;
  justify-content: space-between;
}

.info {
  display: flex;
  flex-direction: column;
}
.info > p {
  margin: 1rem;
}

button {
  margin: 1rem;
}
